.dropdown-toggle:after {
   display: none;
}

@include media-breakpoint-up(sm) {  
   .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
      display: block;
   }
}

@include media-breakpoint-down(sm) {
   .dropdown-menu {
      background-color: transparent;
   }
}
