.navbar {
   padding-top: 27px;
   padding-bottom: 13px;
   
   .nav-link {
      font-weight: bold;
   }

   .navbar-toggler {
      border-width: 3px;
      outline: none;
   }

   @include media-breakpoint-down(sm) {
      padding-top: 16px;
      padding-bottom: 16px;
   }
}
 