// Fonts
@font-face {
   font-family: 'Montserrat';
   src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
      url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Medium.woff') format('woff'),
      url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
      url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
   font-weight: 600;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
      url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
   font-weight: 700;
}

// General typo rules
body {
   font-family: $main-font;
   color: $text-color
}

h5 {
   line-height: 1.444;
   font-weight: 600;
}

h6 {
   font-weight: bold;
}

p {
   line-height: 1.625;
}

a {
   text-decoration: none;
   color: inherit;
}
