// Typo
$h1-font-size: 50px;
$h5-font-size: 18px;
$h6-font-size: 14px;
$headings-line-height: 1.08;
$headings-font-weight: 600;
$main-font: 'Montserrat', sans-serif;

// Colors
$brand-primary: #c4a37b;
$dark-bg: #292929;
$gray: #dbdbdb;
$text-color: #5a5a5a;
$text-color-darker: #2e2e2e;
$headings-color: #3a3a3a;
$dark: #000;

//Navigation
$navbar-light-color: $text-color-darker;
$navbar-nav-link-padding-x: 1.75rem;
$navbar-light-hover-color: $brand-primary;
$navbar-light-toggler-border-color: $text-color-darker;
$navbar-toggler-padding-y: 4px;
$navbar-toggler-padding-x: 4px;
$navbar-toggler-border-radius: 4px;

//Buttons
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-padding-y: 8px;
$btn-padding-x-lg: 50px;
$btn-padding-y-lg: 13px;
$btn-font-size-lg: 1rem;

//Card
$card-border-radius: 0;
$card-spacer-x: 30px;

//Form
$input-padding-y: 0.53rem;
$input-padding-x: 0.9rem;
$form-group-margin-bottom: 19px;


//Borders
$light-border: 1px solid rgba(46, 46, 46, .1);
