// Typo
$h1-font-size: 50px;
$h5-font-size: 18px;
$headings-line-height: 1.08;
$main-font: 'Montserrat', sans-serif;

// Colors
$brand-primary: #c4a37b;
$dark-bg: #292929;
$gray: #dbdbdb;
$text-color: #5a5a5a;
$text-color-darker: #3a3a3a;
$text-color-darkest: #2e2e2e;
$dark: #000;

//Navigation
$navbar-light-color: $text-color-darkest;
$navbar-nav-link-padding-x: 1.75rem;

//Buttons
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-padding-x-lg: 55px;
$btn-padding-y-lg: 13px;
    