.advantages {
   background: $dark-bg;
   padding-top: 35px;
   padding-bottom: 35px;

   &-item {
      h5 {
         color: #fff;
      }
      svg {
         fill: $brand-primary;
         width: 100px;
      }

      &.right-border {
         border-right: 1px solid rgba(196, 163, 123, .1);
      }
   }
} 
 